

# <center>**Python Guidelines for Begineers** **DAY - 1**</center>

# **Day-1 Activities**


* Python Intro
* Python Environment Setup
* Basic Syntax & Variables
* Data Types
* User Input
* Arithmetic Operator
* String & F-String

## **1. Python Introduction**



```
*   It was created by Guido van Rossum, and released in 1991.
*   We can easily build Desktop GUI applications.
*   Generel purpose as well as Object Oriented Language.
*   Readable and Maintainable Code
*   It provides libraries for Game Development.
*   Compatible with Major Platforms and Systems.
*   It provides Framework for building websites. i.e, Django, Flask etc.
*   It makes data science tasks easier.
```

## **2. Python Environment Setup**



*   Python Interpreter
*   Code-Editor
*   Jupyter Notebook
*   Google Colaborator

Download Link For [Windows 8/10](https://www.python.org/ftp/python/3.9.0/python-3.9.0-amd64.exe): 
`[Version 3.9 will not work in Windows 7]`

## **3.  Python basic Syntax & variables**

**First Python Program**

In [2]:
print("Hello World. ")

Hello World.

**Variable is declared automatically during Assingment**

In [3]:
x = 10
print(type(x))
y = x + 44
print(y)

<class 'int'>
54

**Double qoutation & Single qoutation**

In [4]:
first_name  = "Hello"
last_name = 'World'

print(first_name)
print(last_name)

Hello
World

**Case Sensitivity**

In [5]:
age = 50
Age = 25
print(age, Age)

50 25

**Assigning values to multiple variable**

In [6]:
num1 = 10
num2 = 20
num3 = 30
print(num1, num2, num3)

10 20 30

In [7]:
num1, num2, num3 = 10, 20, 30
print(num1, num2, num3)

10 20 30

**Adding Strings & adding Numbers**

In [8]:
full_name = first_name + "" + last_name
print(full_name)

HelloWorld

In [9]:
number1 = 100
number2 = 200
add = number1 + number2
print(add)

300

**Python Comments**

In [10]:
#This is a Comment.
"""Multi line comment.
This is a Comment.
This is a Comment.
"""

print("Comment Example. ")

Comment Example.

## **4. Data Types**

**Basic Types of Data**

In [11]:
#String Type
name = "Test User"
print(name, type(name))

Test User <class 'str'>

In [12]:
#Integer Type
number = 250
print(number, type(number))

250 <class 'int'>

In [13]:
#Float Type
number = 5.000
print(number, type(number))
number2 = 1e4
print(number2, type(number2))
number3 = 12E3
print(number3, type(number3))

5.0 <class 'float'>
10000.0 <class 'float'>
12000.0 <class 'float'>

In [14]:
#Boolean Type
variable1 = True
print(variable1, type(variable1))
variable2 = False
print(variable2, type(variable2))

True <class 'bool'>
False <class 'bool'>

In [15]:
#Range Type
OneToTen = range(1, 11)
print(OneToTen, type(OneToTen))

range(1, 11) <class 'range'>

**Other Types**
*   List Type
*   Tuple Type
*   Dictionary Type

```
# [We will learn this on the next session]
```

**Type Casting**

In [16]:
#String To Integer
number = "12345"
print(number, type(number))

number2 = int(number)
print(number2, type(number2))

12345 <class 'str'>
12345 <class 'int'>

In [17]:
#Integer To String
value = 12345
print(value, type(value))

value2 = str(value)
print(value2, type(value2))

12345 <class 'int'>
12345 <class 'str'>

In [18]:
#String To Float
number = "12345"
print(number, type(number))

number2 = float(number)
print(number2, type(number2))

#Float To String (Try Yourself)

12345 <class 'str'>
12345.0 <class 'float'>

In [19]:
#Integer To Float
value = 10
print(value, type(value))

value2 = float(value)
print(value2, type(value2))

#Float to Integer (Try Yourself)

10 <class 'int'>
10.0 <class 'float'>

## **5. User Input**

**Input Function**

In [20]:
# Taking String Input
name = input()
print(name)

python
python

In [22]:
# Integer Input
value = input()
print(type(value))
value_int = int(value)
print(type(value_int))

10
<class 'str'>
<class 'int'>

In [23]:
#shortcut way
value = int(input("Enter a number : "))
print(value)

Enter a number : 10
10

In [ ]:
#Printing multiple value 

name = input("Enter your name : ")
age = int(input("Enter your age : "))
print("Hello", name, ". You are", age, " years old. ")

In [37]:
#Using f-string

print(f"Hello, {name}. You are {age} years old. ")

Hello, Asmany. You are 24 years old.

## **6. Python Operators**

**Arithmetic Operator**

In [ ]:
#addition
x = 50
y = 12
z = x + y
print(z)

In [ ]:
#Subtraction with user input value

In [ ]:
#Multiplication with user input

![main-qimg-262969a6a3d87a11a35a22c4650a5413.png]()

In [ ]:
#Division with user input

In [ ]:
#Modulus with user input

In [ ]:
#Exponential operator

In [ ]:
#Floor Division

**Assignment Operator**

In [ ]:
#swaping values of two variable (the common way)
a = 10
b = 5
print(f"a={a}, b={b}")
temp = a
a = b
b = temp
print(f"a={a}, b={b}")

In [ ]:
#swaping values of two variable (the python way)
a = 10
b = 20
print(f"a={a}, b={b}")
a, b = b, a
print(f"a={a}, b={b}")

In [ ]:
#Addition & Assignment
x = 20
x = x + 5
print(x)

#shortcut assignment operator
y = 10
y += 5
print(y)

![Screenshot_2020-10-12_20-36-37.png]()

**Comparison Operator**

In [ ]:
# == operator (double equal)
print(5==5)

In [ ]:
# != operator (not equal)
x = 10
y = 6
print(x != y)

In [ ]:
# > operator  (greater than)
x = 5
y = 10
print(x > y)

In [ ]:
# < operator (less than)
x = 5
y = 10
print(x < y)

In [ ]:
# <= operator (less than or equal)
x = 5
y = 10
print(x <= y)

In [ ]:
# >= operator (greater than or equal)
x = 5
y = 10
print(x >= y)

**Logical Operator**

In [ ]:
# and operator
a = 6; b = 7; x = 10; y = 5
print(a < b and x > y)

In [ ]:
# or operator
a = 6; b = 7; x = 10; y = 5
print(a>b or x > y)

In [ ]:
# not operator
x = 10
print(not(x<5))

**Membership Operator**

In [ ]:
# in operator
movie_title = "Aynabaji"
print('Ayna' in movie_title)
print('bazi' in movie_title)

In [ ]:
# not in operator
quote = "Time stops, when lies become the truth."
print('Time' not in quote)
print('truth' in quote)

**Identity Operators, Bitwise Operator**


```
[We can skip it for now]
```

## **7. Some Common String Methods**

**Multiline String**

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(a)

**Length of a String**

In [ ]:
length = len(a)
print(length)

name = input()
length = len(name)
print(length)

**Making string UpperCase**

In [ ]:
name = "Test Name"
upper_name = name.upper()
print(name)

**Making String LoweCase**

In [ ]:
name = "Test Name"
lower_name = name.lower()
print(lower_name)

**Strip Method**

In [ ]:
string = "   Hello, World!    "
string2 = string.strip()
print(string2)

print(len(string), len(string2))

**Split Method**

In [ ]:
string = "person1,person2,person3"
names = string.split(',')
print(names)

**Replace Method**

In [ ]:
message = "Hello World."
new_message = message.replace('Hello', 'GoodBye')
print(new_message)